{% extends 'base.html.twig' %}

{% block title %}Your cart{% endblock %}

{% block body %}

    <h1>Your cart !</h1>

    <table class="table table-striped">
        {% for product in products %}
            {{ product.title }}
        {% else %}
            <p>Your cart is empty !<p>
            <a class="btn btn-primary" href={{ path('product_list') }}>See products</a>
        {% endfor %}
    </table>

{% endblock %}
