{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="card offset-3 col-6 p-0">
        <div class="card-header">
            <h1>Please log in</h1>
        </div>

        <div class="card-body">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control my-1" placeholder="Email" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control my-1" placeholder="Password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div class="row">
                <div class="col-3">
                    <button class="btn btn-lg btn-primary my-1" type="submit">Sign in</button>
                </div>
                <div class="offset-6 col-3">
                    <a href={{ path('app_register') }}>Create account</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
