{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
    <div class="container-fluid">
        <h1>Page d'accueil</h1>

        <p>Pangolri, marchand de fun</p>

    </div>
</div>

=======
{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <h1>Pangolri</h1>
    <h2>Page d'accueil</h2>
    <p>texte</p>
>>>>>>> master
{% endblock %}
