{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="container">
    <div class="container-fluid">
        <h1>Page d'accueil</h1>

        <p>Pangolri, marchand de fun</p>

    </div>
</div>

{% endblock %}
