@font-face{
    font-family: "Quenda-Medium";
    src: url('../font/Quenda-Medium.otf');
}

body {
    font-family: 'Quenda-Medium' !important;
 }

.go-top{
    display: none;

    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;

    color: white;
    background-color: rgb(0,0,0,0.6);
    padding: 1em;
    
    border-radius: 100%;
    width: 48px;
    height: 48px;

    vertical-align: middle;
}

.go-top:hover{
    color: black;
    background-color: rgb(0,0,0,0.2);
    text-decoration: underline;
    transition-duration: 0.3s;
}

.big-icon{
    width: 50px;
    height: 50px;
}

.btn-cool{
    font-size: 10em;
}