@font-face{
    font-family: "Quenda-Medium";
    src: url('../font/Quenda-Medium.otf');
}

body {
    font-family: 'Quenda-Medium' !important;
 }

.go-top{
    display: none;

    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;

    color: white;
    background-color: rgb(0,0,0,0.6);
    padding: 1em;
    
    border-radius: 100%;
    width: 48px;
    height: 48px;

    vertical-align: middle;
}

.go-top:hover{
    color: black;
    background-color: rgb(0,0,0,0.2);
    text-decoration: underline;
    transition-duration: 0.3s;
}

.btn-cool{
    font-size: 10em;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
} 