@font-face{
    font-family: "Quenda-Medium";
    src: url('../font/Quenda-Medium.otf');
}

body {
    font-family: 'Quenda-Medium' !important;
 }

.go-top{
    display: none;

    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;

    color: white;
    background-color: rgb(0,0,0,0.6);
    padding: 1em;
    
    border-radius: 100%;
    width: 48px;
    height: 48px;

    vertical-align: middle;
}

.go-top:hover{
    color: black;
    background-color: rgb(0,0,0,0.2);
    text-decoration: underline;
    transition-duration: 0.3s;
}

.btn-cool{
    font-size: 10em;
}

/* -----------------------------------------------------------------*/
/*                          SLIDE SHOW                              */
/* -----------------------------------------------------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
/* -----------------------------------------------------------------*/
/*                         END SLIDE SHOW                           */
/* -----------------------------------------------------------------*/