{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<h1 class="my-4">Product list</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td><a href={{ path('show_product',{'id' : product.id}) }}><button class="btn btn-secondary">See product</button></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
