{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<h1>Product list</h1>


<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
    </tr>

{% for product in products %}
    <tr>
        <td>{{ product.title }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td><button class="btn btn-secondary">Add to kart</button></td>
    </tr>
{% endfor %}
</table>

{% endblock %}
