{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<h1 class="my-4"> {{product.title}} </h1>

<p>{{product.description}}</p>

<a href={{ path('product_list') }}>Retour aux produits</a>

{% endblock %}
