<a href="#" class="go-top"><i class="fas fa-chevron-up fa-lg"></i></a>

<!-- Footer -->
<footer class="page-footer font-small bg-secondary">

    <div class="container-fluid">
        <div class="row">
            <ul class="col-3 offset-3 list-unstyled text-center">
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
            </ul>
            <ul class="col-3 list-unstyled text-center">
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
            </ul>
        </div>
    </div>

</footer>
<!-- Footer -->

{% block javascript %}

    {{ encore_entry_script_tags('animation') }}

{% endblock %}